*{
    margin: 0;
    padding: 0px ;
    font-family: "poppins", sans-serif ;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: url(./wallpaper.png);
    background-position: cover;
    padding: 10px;
}

.todocard{
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.todocard h2{
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todocard h2 img{
    width: 32px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dedcdc;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 16px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #f78a05;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}

ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: #fff;

}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(stock/untick.png) ;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;    
}

ul li.checked{
    color: #bbb;
    text-decoration: line-through;
}

ul li.checked::before{
    color: #666;
    text-decoration: line-through;
    background-image: url("stock/tick.png") ;

}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #666;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    
}

ul li span:hover{
    background-color: #ddd;
}